@use "sass:color";
@use "variables" as *;

:root {
  // Theme colors
  --primary: #{$primary-color};
  --primary-gradient: linear-gradient(135deg, #{$primary-gradient-start}, #{$primary-gradient-end});
  --secondary: #{$secondary-color};
  --danger: #{$danger-color};
  --warning: #{$warning-color};
  --success: #{$success-color};
  --disabled: #{$disabled-color};
  --text-color-disabled: #{$text-color};

  // Base theme
  --background: #{$background};
  --background-color: #{$background};
  --text-color: #{$text-color};
  --card-border: #{color.adjust($card-border-color, $lightness: -10%)};
  --background-gradient: linear-gradient(180deg, #{$gradient-start} 0%, #{$gradient-mid} 50%, #{$gradient-end} 100%);

  // Interactive states
  --hover-text: #{$text-hover};
  --hover-primary: #{color.adjust($primary-color, $lightness: 20%)};
  --hover-secondary: #{color.adjust($secondary-color, $lightness: 20%)};
  --active-primary: #{color.adjust($primary-color, $lightness: 30%)};
  --active-secondary: #{color.adjust($secondary-color, $lightness: 30%)};
  --hover-danger: #{color.adjust($danger-color, $lightness: 20%)};
  --active-danger: #{color.adjust($danger-color, $lightness: 30%)};
}
