// Sass Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$success-color: #198d4991;
$warning-color: #f1c40f;

$disabled-color: #e0e0e0;

$card-border-color: #c5c5c5;

// Light Theme Colors
$background-light: #ffffffa1;
$text-light: #000000;
$hover-light: lighten($background-light, 10%);
$active-light: lighten($background-light, 15%);

// Dark Theme Colors
$background-dark: #121212;
$text-dark: #f5f5f5;
$hover-dark: darken($background-dark, 10%);
$active-dark: darken($background-dark, 15%);

// Fonts
$font-family: "Roboto", sans-serif;

// Spacing
$padding: 16px;
