<div class="relative inline-block text-left">
  <!-- Botón Principal -->
  <button (click)="toggleDropdown()" class="text-sm font-light text-text">
    <span class="text-xs uppercase tracking-wider">{{ state$().language }}</span>
  </button>

  <!-- Dropdown -->
  <div #dropdown class="hidden absolute right-0 mt-2 space-y-1">
    <button class="block w-full text-sm text-text text-left hover:underline"
      (click)="changeLanguage('en')">
      <span class="text-xs uppercase tracking-wider">{{'laguange-dropdown.english' | translate}}</span>
    </button>
    <button class="block w-full text-sm text-text text-left hover:underline"
      (click)="changeLanguage('es')">
      <span class="text-xs uppercase tracking-wider">{{'laguange-dropdown.spanish' | translate}}</span>
    </button>
  </div>
</div>
